// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "vegas";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

a.-sign-in {
  margin-top: 10%;
  margin-bottom: 10%;
}

html, body {
  height: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.6);
}

.container {
  padding-left: 3%;
  padding-right: 3%;
  color: white;
}

.row {
  padding-top: 70px;
}
